- if (userMessages && userMessages.length > 0)
  .row
    .col-md-12

      each userMessage, messageIndex in userMessages
        .row.mwit-item
          .col-md-1
            .user-sm-image-container
              img.user-sm-image(src='/public/images/blank_face.jpeg')
          .col-md-11.mwit-container
            .row
              .col-md-12
                .mwit-message=userMessage.text
                .mwit-time(data-index=messageIndex)
                  script.
                    var newDate = new Date('!{userMessage.createDate}');
                    $('.mwit-time[data-index="!{messageIndex}"]').append(moment(newDate).fromNow());

            .row
              .col-md-12
                - var locationData = [];
                - if (userMessage.createdBy && userMessage.createdBy.city) locationData.push(userMessage.createdBy.city);
                - if (userMessage.createdBy && userMessage.createdBy.country) locationData.push(userMessage.createdBy.country);

                .mwit-location=locationData.join(', ')